*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#fff;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.container{
  width: 500px;
  height: 300px;
  margin: 50px auto;
  padding: 50px;
  color: #2F96EF;
  border: 1px solid #868686;
}
h3{
padding : 5px;
margin-right: 120px;
font-size:17px;
font-family:'Times New Roman', Times, serif;
font-weight: 500;
}
button{
  border-radius: 5px;
  background-color: #4285F4;
  color: white;
  font-size: 16px;
  padding: 12px 22px;
  cursor: pointer;
  border: none;
  margin: 50px;
}
button:hover{
      border: 2px solid #4285F4;
    background-color: #e3f2fd;
    color: #1565c0;
    padding: 10px 20px;
}
#forgetPassword {
  text-decoration: none;
  color:#2F96EF;
  padding: 5px;
  margin-right: 60px; 
  font-size: 17px;
  font-weight:500;
  font-family: 'Times New Roman', Times, serif;
}
.forget_button{
  margin-top: -30px;
}
.password-pwd{
  width: 85%;
  padding: 17px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color:#4285F4;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}
div em {
  margin-left:-40px;
  cursor: pointer;
  color:black;

}
